absl-py==1.4.0
autopep8==2.0.2
Box2D==2.3.2
Box2D-kengz==2.3.3
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cloudpickle==2.2.1
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.35
Farama-Notifications==0.0.4
fasteners==0.18
filelock==3.12.0
fonttools==4.39.4
glfw==2.5.9
google-auth==2.19.1
google-auth-oauthlib==1.0.0
grpcio==1.54.2
gym==0.21.0
gymnasium==0.28.1
idna==3.4
imageio==2.31.0
importlib-metadata==4.13.0
importlib-resources==5.12.0
jax-jumpy==1.0.0
Jinja2==3.1.2
kiwisolver==1.4.4
Markdown==3.4.3
MarkupSafe==2.1.3
matplotlib==3.7.1
mpmath==1.3.0
mujoco-py==2.1.2.14
networkx==3.1
numpy==1.24.3
oauthlib==3.2.2
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
protobuf==4.23.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pygame==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
six==1.16.0
stable-baselines3==1.8.0
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tomli==2.0.1
torch==2.0.1
tqdm==4.65.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
Werkzeug==2.3.4
zipp==3.15.0
